/* @media screen and (max-width:954px) {
    .cards{
        row-gap: 10px;
    }
    .main-card .cards .card{
        width: calc(100% / 2 - 10px);
    }
}

@media screen and (max-width:800px) {
    .cards{
        row-gap: 10px;
    }
    .main-card .cards .card{
        width: 100%;
    }
} */

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body{
    width: 100%;
    height: 100vh;
    background-color: #222;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    max-width: 950px;
    width: 100%;
    overflow: hidden;
    padding: 30px 0px;
}

.main-cards{
    width: 200%;
    display: flex;
    column-gap: 30px;
    justify-content: space-evenly;
    transition: all 1s ease;
}

/* #two:checked ~ .main-cards{
    margin-left: -100%;
 } */

 #two:checked ~ .main-cards{
    margin-left: -100%;
 }

.cards{
    /* width:calc(100% / 2 );
    display: flex; */
    width: calc(100% - 30px);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

.card{
    width: calc(100% / 3 - 30px);
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 30px;
    transition: all 0.5s ease;
}
.card:hover{
    transform: translateY(-14px);
}

.card img{
    width: 130px;
    height: 130px;
    border-radius: 50%;
    border: 4px solid red;
    padding: 4px;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title{
    font-size: 20px;
    font-weight: 600;
    padding: 10px 0px;
}

.desc{
    font-size: 15px;
}

.social-icons{
    display: flex;
    column-gap: 20px;
    margin-top: 20px;
}

.social-icons i{
    width: 40px;
    height: 40px;
    background-color: red;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.7s;
}

.social-icons i:hover{
    background-color: white;
    color: red;
    border: 2px solid red;
}


 .buttons{
    display: flex;
    margin: 20px;
    justify-content: center;
}

.buttons label{
    width: 15px;
    height: 15px;
    background-color: red;
    margin: 0px 4px;
    border-radius: 20px;
    cursor: pointer;
    transition:  all 0.5s ease;
} 

.buttons label.active{
    width: 35px;
}


#one:checked ~ .buttons .one{
    width: 35px;
}

#one:checked ~ .buttons .two{
    width: 15px;
}

#two:checked ~ .buttons .two{
    width: 35px;
}

#two:checked ~ .buttons .one{
    width: 15px;
}

/* #one:checked ~ .buttons label.one{
    width: 35px;
}
#two:checked ~ .buttons label.two{
    width: 35px;
}

#two:checked ~ .buttons label.one{
    width: 15px;
} */


input[type="radio"]{
    display: none;
}


@media screen and (max-width:990px) {
    .container{
        width: calc(700px - 20px);
    }

    .cards{
        width: 100%;
        row-gap: 30px;
    }

    .card{
        width: calc(100% / 2 - 20px);
    }
}



@media screen and (max-width:810px) {
    .container{
        width: 90%;
        margin-top: 260px;
    }

    .cards{
        width: 100%;
        row-gap: 30px;
    }

    .card{
        width:100%;
    }
}





/* .buttons{
    display: flex;
    margin: 20px;
    justify-content: center;
}

.buttons label{
    width: 15px;
    height: 15px;
    background-color: indigo;
    margin: 0px 4px;
    border-radius: 20px;
    cursor: pointer;
    transition:  all 0.5s ease;
} */



/* body{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f2f2f2;
    position: relative;
}

body::before{
    width: 100%;
    height: 50vh;
    content: "";
    position: absolute;
    left: 0px;
    bottom: 0px;
    background-color: brown;
    z-index: -1;
}

.container{
    max-width: 1050px;
    width: 100%;
    padding: 80px 0px;
    overflow: hidden;
}

.container .main-card{
    width: 200%;
}

.cards{
    width: calc(100% / 2 - 10px);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0px 20px;
}



.card{
    width: calc(100% / 3 - 10px);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    background-color: white;
    padding: 30px;
    transition: all 0.5s;
}

.card:hover{
    transform: translateY(-20px);
}

.card img{
    width: 130px;
    height: 130px;
    border-radius: 50%;
    border: 4px solid red;
    padding: 4px;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title{
    font-size: 20px;
    font-weight: 600;
    padding: 10px 0px;
}

.desc{
    font-size: 15px;
}

.social-icons{
    display: flex;
    column-gap: 20px;
    margin-top: 20px;
}

.social-icons i{
    width: 40px;
    height: 40px;
    background-color: red;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.7s;
}

.social-icons i:hover{
    background-color: white;
    color: red;
    border: 2px solid red;
}


.buttons{
    display: flex;
    margin: 20px;
    justify-content: center;
}

.buttons label{
    width: 15px;
    height: 15px;
    background-color: indigo;
    margin: 0px 4px;
    border-radius: 20px;
    cursor: pointer;
    transition:  all 0.5s ease;
}

.buttons label.active{
    width: 35px;
}

#one:checked ~ .buttons label.one{
    width: 35px;
}
#two:checked ~ .buttons label.two{
    width: 35px;
}

#two:checked ~ .buttons label.one{
    width: 15px;
}
#two:checked ~ .buttons label.one{
    width: 15px;
}

input[type="radio"]{
    display: none;
}




@media screen and (max-width:1007px) {
    .container{
        max-width: calc(700px - 10px);
        width: 100%;
    }


    .cards{
        width: calc(100% / 2 - 10px);
        row-gap: 10px;
    }

    .card{
        width: calc(100% / 2 - 10px);
    }
}


@media screen and (max-width:705px) {
    .container{
        max-width: calc(540px - 10px);
        width: 100%;
    }

    .card{
        width:100%;
    }

}
 */





 /* section{
    width: 100%;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: azure;
 }

 

 .container{
    width: 1000px;
    overflow: hidden;
    padding: 20px 0px;
 }

 .main-card{
    width: 200%;
    display: flex;
    transition: all 1s ease;
 }

 #two:checked ~ .main-card{
    margin-left: -100%;
 }

 .cards{
    display: flex;
    width: calc(100% / 2 - 20px);
    flex-wrap: wrap;
    column-gap: 20px;
    padding: 0px 30px;
 }

 .card{
    width: calc(100% / 3 - 20px);
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    transition:  all .5s;
 }

 .card:hover{
    transform: translateY(-15px);
 }

 .content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
 }

 .card img{
    width: 130px;
    height: 130px;
    border-radius: 50%;
    border: 4px solid red;
    padding: 4px;
}

 .title{
    font-size: 20px;
    font-weight: 600;
    padding: 10px 0px;
}

.desc{
    font-size: 15px;
}

.social-icons{
    display: flex;
    column-gap: 20px;
    margin-top: 20px;
}

.social-icons i{
    width: 40px;
    height: 40px;
    background-color: red;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.7s;
}

.social-icons i:hover{
    background-color: white;
    color: red;
    border: 2px solid red;
}


.buttons{
    display: flex;
    margin: 20px;
    justify-content: center;
}

.buttons label{
    width: 15px;
    height: 15px;
    background-color: indigo;
    margin: 0px 4px;
    border-radius: 20px;
    cursor: pointer;
    transition:  all 0.5s ease;
}

.buttons label.active{
    width: 35px;
}

#one:checked ~ .buttons label.one{
    width: 35px;
}
#two:checked ~ .buttons label.two{
    width: 35px;
}

#two:checked ~ .buttons label.one{
    width: 15px;
}
#two:checked ~ .buttons label.one{
    width: 15px;
}

input[type="radio"]{
    display: none;
}

@media screen and (max-width:1052px) {
    .container{
        max-width: 800px;
    }

    .cards{
        row-gap: 20px;
    }

    .card{
        width: calc(100% / 2 - 20px);
    }

}

@media screen and (max-width:755px) {

    section{
        margin: 120px 0px;
    }
    .container{
        max-width: 600px;
    }

    .cards{
        row-gap: 20px;
    }

    .card{
        width:100%;
    }

} */