/* @import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"); */


*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


.login-section{
    width: 100%;
    height: 500px;
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.login-container{
    width: 600px;
    display: flex;
}

.login-container .left{
    width: 300px;
    background-color: forestgreen;
    background-image: url('/images/portfolio-4.jpg');
    display: flex;
    justify-content: center;
    align-items: center;
}


.left .content{
    width: 90%;
    margin: 0px auto;
    text-align: center;
}

.content h1{
    padding-bottom: 15px;
    color: white;
}

.content p{
    color: white;
}

.login-container .right{
    width:300px;
    background-color: white;
    padding: 29px 25px;
}

.login-container .right form{
    width: 100%;
    height: 100%;
}

form h1{
    text-align: center;
    padding-bottom: 16px;
}

form input{
    width: 100%;
    margin-bottom: 8px;
    padding: 9px 5px;
    outline: none;
    border: 1px solid gray;
    background-color: none;
}

form p{
    margin-bottom: 13px;
    color: indigo;
}

form span{
    display: block;
    text-align: center;
    margin-top: 10px;
}

form .button{
    background-color: indigo;
    color: white;
} */

 


/* section{
    width: 100%;
    height: 100%;
    background-color: red;
    position: relative;
}
 */
/* 
 .container{
    width: 100%;
    height: 100px;
    background-color: red;
 }


.first{
    width: 800px;
    height: 300px;
    background-color: saddlebrown;
}

.second{
    width: 800px;
    height: 200px;
    background-color: green;
}
.third{
    width: 800px;
    height: 150px;
    background-color: blueviolet;
}
.four{
    width: 800px;
    height: 100px;
    background-color: greenyellow;
}
.five{
    width: 800px;
    height: 50px;
    background-color: fuchsia;
}


.secondSection{
    width: 300px;
    height: 100px;
    background-color: black;
}

.thirdSection{
    width: 600px;
    height: 100px;
    background-color: sandybrown;
}

.thirdSection .test{
    width: 70px;
    height: 50px;
    background-color: red;
    margin-top: 50px;
} 


