*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #222;
}

.container{
    width: 350px;
    height: 500px;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.container img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: all .5s;
}

.front{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: indigo;
    position: relative;
    transition: all 0.5s;
}

/* .container:hover img{
    top: 0px;
} */

.container:hover .front{
    width: 230px;
    height: 230px;
    border-radius: 50%;
    left: 53%;
    top: -50%;
    transform: translateX(-80%);
}

.bottom{
    position: absolute;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    bottom: -1000px;
    opacity: 0;
    transition: all 0.5s;
    padding: 0px 30px;
}

.name{
    text-align: center;
    font-size: 29px;
    color: white;
}

.title{
    text-align: center;
    font-size: 20px;
    padding: 10px 0px;
    color: white;
    font-weight: 500;
}

.desc{
    text-align: center;
    color: white;
    font-size: 12px;
    font-weight: 300;
    line-height: 20px;
}

button{
    margin-top: 20px;
    padding: 10px 25px;
    color: indigo;
    border: 2px solid indigo;
    outline: none;
    background: transparent;
    border-radius: 6px;
    font-size: 19px;
    cursor: pointer;
    transition: all 1s;
}

button:hover{
    background-color: white;
    border: none;
}

.container:hover .bottom{
    bottom: 60px;
    opacity: 1;
}

.social-icons{
    display: flex;
    column-gap: 20px;
    margin-top: 20px;
}

.social-icons i{
    width: 40px;
    height: 40px;
    background-color: indigo;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.7s;
}

.social-icons i:hover{
    background-color: white;
    color: red;
    border: 2px solid red;
}